<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Projects PDF</title>
    <style>
      /* Basic styles for PDF */
      body {
        font-family: Arial, sans-serif;
        font-size: 12px;
        margin: 20px;
      }
      h1 {
        text-align: center;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
